@using SignMeUp2.DataModel

@model SignMeUp2.DataModel.Registreringar

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2"><h3>Anmälan</h3></th>
        </tr>
    </thead>
    <tr>
        <th>Lagnamn</th>
        <td>@Html.DisplayFor(model => model.Lagnamn)</td>
    </tr>
    <tr>
        <th>Bana</th>
        <td>@Html.DisplayFor(model => model.Bana.Namn)</td>
    </tr>
    <tr>
        <th>Klass</th>
        <td>@Html.DisplayFor(model => model.Klass.Namn)</td>
    </tr>
    <tr>
        <th>Kanot</th>
        <td>@Html.DisplayFor(model => model.Kanot.Namn)</td>
    </tr>
    <tr>
        <th>Ranking</th>
        <td>@Html.DisplayFor(model => model.Ranking)</td>
    </tr>
    <!-- Deltagare -->
    <tr>
        <th colspan="2"><h3>Deltagare</h3></th>
    </tr>
    @for (int i = 0; i < Model.Deltagare.Count(); i++)
    {
        Deltagare deltagare = Model.Deltagare.ToList()[i];
        <tr>
            <th colspan="2">Deltagare @(i + 1)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => deltagare.Förnamn)</th>
            <td>@Html.DisplayFor(model => deltagare.Förnamn)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => deltagare.Efternamn)</th>
            <td>@Html.DisplayFor(model => deltagare.Efternamn)</td>
        </tr>

        if (!string.IsNullOrEmpty(deltagare.Personnummer))
        {
            <tr>
                <th>@Html.DisplayNameFor(model => deltagare.Personnummer)</th>
                <td>@Html.DisplayFor(model => deltagare.Personnummer)</td>
            </tr>
        }
    }
    <!-- Kontaktinformation -->
    <tr>
        <th colspan="2"><h3>Kontaktuppgifter</h3></th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Adress)</th>
        <td>@Html.DisplayFor(model => model.Adress)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Telefon)</th>
        <td>@Html.DisplayFor(model => model.Telefon)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Epost)</th>
        <td>@Html.DisplayFor(model => model.Epost)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Klubb)</th>
        <td>@Html.DisplayFor(model => model.Klubb)</td>
    </tr>

    <!-- Fakturaadress -->
    @if (Model.Invoice != null)
    {
    <tr>
        <th colspan="2"><h3>Fakturaadress</h3></th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Invoice.Namn)</th>
        <td>@Html.DisplayFor(model => model.Invoice.Namn)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Invoice.Organisationsnummer)</th>
        <td>@Html.DisplayFor(model => model.Invoice.Organisationsnummer)</td>
    </tr>
    <tr>
        <th>Attesteras</th>
        <td>@Html.DisplayFor(model => model.Invoice.Att)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Invoice.Postadress)</th>
        <td>@Html.DisplayFor(model => model.Invoice.Postadress)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Invoice.Postnummer)</th>
        <td>@Html.DisplayFor(model => model.Invoice.Postnummer)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Invoice.Postort)</th>
        <td>@Html.DisplayFor(model => model.Invoice.Postort)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Invoice.Box)</th>
        <td>@Html.DisplayFor(model => model.Invoice.Box)</td>
    </tr>
    }
</table>