@using SignMeUp2.Data;
@using LangResources;

@{
    ViewBag.Title = Language.ConfirmationOfPayment;
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@model Registrering

@if (ViewBag.OrgBild != null)
{
    <img src="@ViewBag.OrgBild" class="img-fluid" style="max-height: 200px" />
}

<h2>@Language.ThankYou @ViewBag.ev</h2>
   
<h4>@Language.Organizer @ViewBag.org</h4>

@Html.DisplayFor(m => Model)