@model IEnumerable<SignMeUp2.DataModel.Evenemang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Alla evenemang</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegStop)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegStop)
            </td>
            <td>
                @Html.ActionLink("Anmälan", "Index", "SignMeUp", new {  e = item.Id}, null)
            </td>
        </tr>
    }

</table>
