@model IEnumerable<SignMeUp2.Data.Evenemang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Evenemang</h2>

<table class="table">
    <tr>
        <th>
            Arrangör
        </th>
        <th>
            Evenemang
        </th>
        <th>
            Anmälan öppen t.o.m
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        item.RegStop = item.RegStop.AddDays(-1);
        <tr>
            <td class="vert-align">
                @Html.DisplayTextFor(model => item.Organisation.Namn)
            </td>
            <td class="vert-align">
                @Html.DisplayTextFor(model => item.Namn)
            </td>
            <td class="vert-align">
                @item.RegStop.ToString("yyyy-MM-dd")
            </td>
            <td class="vert-align">
                @Html.ActionLink("Jag vill anmäla mig!", "Index", "SignMeUp", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Lista på anmälda", "Startlista", "Home", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
