@model IEnumerable<SignMeUp2.Data.Evenemang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Evenemang</h2>

<table class="table">
    <tr>
        <th>
            Arrangör
        </th>
        <th>
            Evenemang
        </th>
        <th>
            Anmälan öppen t.o.m
        </th>
        <th></th>
    </tr>

    @foreach (var evenemang in Model)
    {
        evenemang.RegStop = evenemang.RegStop.AddDays(-1);

        foreach (var formular in evenemang.Formular)
        {
        <tr>
            <td class="vert-align">
                @Html.DisplayTextFor(model => evenemang.Organisation.Namn)
            </td>
            <td class="vert-align">
                @Html.DisplayTextFor(model => evenemang.Namn)  @Html.DisplayTextFor(model => formular.Namn)
            </td>
            <td class="vert-align">
                @evenemang.RegStop.ToString("yyyy-MM-dd")
            </td>
            <td class="vert-align">
                @Html.ActionLink("Jag vill anmäla mig!", "Index", "SignMeUp", new { id = formular.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Lista på anmälda", "Startlista", "Home", new { id = formular.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
        }
    }

</table>
