@model SignMeUp2.Data.Registreringar

@{
    ViewBag.Title = "RegistrationDone";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Tack för din anmälan till @Model.Evenemang.Namn</h2>

<p>Arrangör är @Model.Evenemang.Organisation.Namn</p>

<div>
    <h4>Bekräftelse på din anmälan</h4>
    <hr />

    @Html.Partial("_RegDetailsView", Model)

</div>
<p>
    @Html.ActionLink("Lista på anmälda", "Startlista", new { id = Model.EvenemangsId }) |
    @Html.ActionLink("Gör ytterligare en anmälan", "Index", "SignMeUp", new { id = Model.EvenemangsId }, null)
</p>
