@using SignMeUp2.Data;
@using SignMeUp2.Areas.Admin.Models;

@model SignMeUp2.Data.Evenemang

@{
    ViewBag.Title = "Evenemangsöversikt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Namn</h2>

<div class="col-md-12 bg-success">
    <p>Anmälan öppnar: @Model.RegStart.ToString("yyyy-MM-dd kl HH:mm")</p>
    <p>Anmälan stänger: @Model.RegStop.ToString("yyyy-MM-dd kl HH:mm")</p>
    <p>@Html.ActionLink("Redigera evenemang", "Edit", "Evenemang", new { id = Model.Id }, new { @class = "btn btn-primary" })</p>
</div>

@{Html.RenderPartial("_Message", null);}

<div class="col-md-12">
    <h3>
        @Html.ActionLink("+", "Create", "Formular", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
        Formulär
    </h3>
    <table class="table table-striped">
        <tr>
            <th>Namn</th>
            <th>Anmälda</th>
            <th>Max anmälningar</th>
            <th>Avgift</th>
        </tr>
        @foreach (var formular in Model.Formular)
        {
            var max = formular.MaxRegistreringar == null || formular.MaxRegistreringar == 0 ?
                "Obegränsat" :
                formular.MaxRegistreringar.ToString();
            <tr>
                <td>@Html.ActionLink(formular.Namn, "Edit", "Formular", new { id = formular.Id }, new { @class = "btn btn-link" }) </td>
                <td>@formular.Registreringar.Count()</td>
                <td>@max</td>
                <td>@formular.Avgift</td>
            </tr>
        }
    </table>
</div>

<div class="col-md-12">
    <h3>
        @Html.ActionLink("+", "Create", "Rabatter", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
        Rabatter
    </h3>
    <table class="table table-striped">
        <tr>
            <th>Kod</th>
            <th>Summa</th>
            <th>Beskrivning</th>
        </tr>
        @foreach (var rabatt in Model.Rabatter)
        {
            <tr>
                <td>@Html.ActionLink(rabatt.Kod, "Edit", "Rabatter", new { id = rabatt.Id }, new { @class = "btn btn-link" }) </td>
                <td>@rabatt.Summa</td>
                <td>@rabatt.Beskrivning</td>
            </tr>
        }
    </table>
</div>

<div class="col-md-12">
    <h3>
        @Html.ActionLink("+", "Create", "Forseningsavgift", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
        Förseningsavgifter/ kanpanjer
    </h3>
    <table class="table table-striped">
        <tr>
            <th>Namn</th>
            <th>Från</th>
            <th>Till</th>
            <th>+/-</th>
            <th>Summa</th>
        </tr>
        @foreach (var fa in Model.Forseningsavgifter)
        {
            <tr>
                <td>@Html.ActionLink(fa.Namn, "Edit", "Forseningsavgift", new { id = fa.Id }, new { @class = "btn btn-link" }) </td>
                <td>@fa.FranDatum.ToString("yyyy-MM-dd kl HH:mm")</td>
                <td>@fa.TillDatum.ToString("yyyy-MM-dd kl HH:mm")</td>
                <td>@fa.PlusEllerMinus</td>
                <td>@fa.Summa</td>
            </tr>
        }
    </table>
</div>