@model SignMeUp2.Data.Registreringar

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Registreringar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bana.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bana.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evenemang.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenemang.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kanot.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kanot.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klass.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klass.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Startnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Startnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lagnamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lagnamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klubb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klubb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarBetalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarBetalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forseningsavgift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forseningsavgift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registreringstid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registreringstid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kommentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rabatt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rabatt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaysonToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaysonToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
