@model SignMeUp2.ViewModels.RegistreringVM

@{
    ViewBag.Title = "Registrering";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_formularOversikt");}

@{Html.RenderPartial("_Message", null);}

@* TODO redigera och radera *@

<div class="col-md-12">
    <h3>
        Registrering
    </h3>

    <table class="table table-striped">
        <tr>
            <td>
                <p>Att betala: @Model.AttBetala</p>
                <p>Registreringstid: @Model.Registreringstid</p>
                <p>Rabatt: @Model.Rabatt</p>
                <p>Rabattkod: @Model.Rabattkod</p>
                <p>Förseningsavgift: @Model.Forseningsavgift</p>
                @if (Model.Invoice != null)
                {
                    <p>@Html.ActionLink("Fakturaadress", "Details", "Invoice", new { id = Model.Invoice.Id}, null)</p>
                }
                <p>Kommentar: @Model.Kommentar</p>
            </td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var steg in Model.Formular.Steg)
        {
            <tr>
                <td><h3>@steg.Namn</h3></td>
                <td></td>
                <td></td>
            </tr>

            foreach (var falt in steg.FaltLista)
            {
                var svar = Model.Svar.Single(s => s.FaltId == falt.FaltId);
                var avgift = @svar.Avgift != 0 ? svar.Avgift.ToString() : "";
                <tr>
                    <td>@falt.Namn</td>
                    <td>@svar.Varde</td>
                    <td>@avgift</td>
                </tr>
            }
        }
    </table>
</div>
