@model SignMeUp2.Data.Registreringar

@{
    ViewBag.Title = "Redigera registrering";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Redigera registrering</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EvenemangsId)

        <div class="form-group">
            @Html.LabelFor(model => model.Lagnamn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lagnamn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lagnamn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Startnummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Startnummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Startnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bana_Id, "Bana", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Bana_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Bana_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Klass_Id, "Klass", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Klass_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Klass_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kanot_Id, "Kanot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Kanot_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kanot_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Klubb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Klubb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Klubb, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3>Deltagare</h3>
        @{ var num = 1;}
        @foreach (var deltagare in Model.Deltagare)
        {
            <h4>Deltagare @num</h4>
            
            <div class="form-group">
                @Html.LabelFor(model => deltagare.Förnamn, "Förnamn", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => deltagare.Förnamn, new { htmlAttributes = new { @class = "form-control", @Name = "deltagare_f_" + deltagare.Id } })
                    @Html.ValidationMessageFor(model => deltagare.Förnamn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => deltagare.Efternamn, "Efternamn", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => deltagare.Efternamn, new { htmlAttributes = new { @class = "form-control", @Name = "deltagare_e_" + deltagare.Id } })
                    @Html.ValidationMessageFor(model => deltagare.Efternamn, "", new { @class = "text-danger" })
                </div>
            </div>
            num++;
        }

        <h3>Kontaktuppgifter</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Epost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Epost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Epost, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3>Betalning</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.HarBetalt, "Har betalt", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HarBetalt)
                    @Html.ValidationMessageFor(model => model.HarBetalt, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.ForseningsavgiftId)
        <div class="form-group">
            <label class="control-label col-md-2">Förseningsavgift</label>
            <div class="col-md-10">
                @if (Model.Forseningsavgift != null)
                {
                    <text>@Model.Forseningsavgift.Namn | @Model.Forseningsavgift.PlusEllerMinus | @Model.Forseningsavgift.Summa kr</text>
                }
            </div>
        </div>
        
        @Html.HiddenFor(model => model.RabattId)
        <div class="form-group">
            <label class="control-label col-md-2">Rabatt</label>
            <div class="col-md-10">
                @if (Model.Rabatt != null)
                {
                    <text>@Model.Rabatt.Kod | @Model.Rabatt.Summa kr</text>
                }
            </div>
        </div>

        @Html.HiddenFor(model => model.PaysonToken)
        <div class="form-group">
            <label class="control-label col-md-2">PaysonToken</label>
            <div class="col-md-10">
                @Model.PaysonToken
            </div>
        </div>

        @Html.HiddenFor(model => model.Registreringstid)
        <div class="form-group">
            <label class="control-label col-md-2">Registreringstid</label>
            <div class="col-md-10">
                @Model.Registreringstid.Value.ToString("yyyy-MM-dd HH:mm")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice, "Fakturaadress", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Invoice, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3>Övrigt</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Kommentar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kommentar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kommentar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
