@model IEnumerable<SignMeUp2.Data.Registreringar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bana.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenemang.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kanot.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klass.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lagnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klubb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarBetalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forseningsavgift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registreringstid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kommentar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rabatt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaysonToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bana.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evenemang.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kanot.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klass.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Startnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lagnamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klubb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HarBetalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forseningsavgift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registreringstid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kommentar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rabatt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaysonToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
