@using SignMeUp2.Data

@model SignMeUp2.ViewModels.FormularStegVM

<div>
    <h4>@Model.Namn</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var falt in Model.FaltLista)
         {
            // Om det är ett infofält
            if (falt.Typ != FaltTyp.info_falt) {
                @*<dt></dt>
                <dd>@falt.Namn</dd>
            }
            else
            {*@
                <dt>
                    @falt.Namn
                </dt>

                <dd>
                    @if (falt.Typ == SignMeUp2.Data.FaltTyp.val_falt)
                    {
                        var val = falt.Val.FirstOrDefault(v => v.Id == falt.Varde);
                        if (val != null)
                        {
                            @val.Namn
                        }
                    }
                    else
                    {
                        @falt.Varde
                    }
                </dd>
            }
        }
    </dl>
</div>
