@model IEnumerable<SignMeUp2.Data.Kanoter>
@{   
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_headerIndex");}

<table class="table">
    <tr>
        <th>
            Evenemang
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avgift)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="vert-align">
            @Html.DisplayFor(modelItem => item.Evenemang.Namn)
        </td>
        <td class="vert-align">
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td class="vert-align">
            @Html.DisplayFor(modelItem => item.Avgift)
        </td>
        <td class="vert-align">
            @Html.ActionLink("Redigera", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

@{Html.RenderPartial("_footerIndex", Model);}