@model IEnumerable<SignMeUp2.Data.Kanoter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var evNamn = ViewBag.Evenemang != null ? "- " + ViewBag.Evenemang.Namn : "";
}

<h2>Kanoter @evNamn</h2>

<table class="table">
    <tr>
        <th>
            Evenemang
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avgift)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evenemang.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avgift)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

<div class="row">
    @if (ViewBag.Evenemang != null)
    {
        @Html.ActionLink("Evenemangsöversikt", "Oversikt", "Evenemang", new { id = ViewBag.Evenemang.Id }, new { @class = "btn btn-primary" })
    }

        @Html.ActionLink("Skapa ny", "Create", new { id = 1 }, new { @class = "btn btn-primary" })
</div>