@using SignMeUp2.ViewModels
@using SignMeUp2.Data
@using LangResources

@model FormularStegVM

@Html.Hidden("StegId", Model.Id)

<h2>@Model.Namn</h2>

@foreach (FaltViewModel falt in Model.FaltLista)
{
    // Om det ska vara en drop-down
    if (falt.Typ == FaltTyp.val_falt)
    {   
        <div class="form-group">
            @Html.LabelFor(model => falt.Varde, falt.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => falt.Varde, falt.Alternativ, Language.Choose  + " " + falt.Namn, htmlAttributes: new { @class = "form-control", @Name = falt.Namn })
            </div>
        </div>
    }
    // Om det är ett infofält
    else if (falt.Typ == FaltTyp.info_falt)
    {
        <div class="form-group">
            <div class="col-md-10">
                @falt.Namn
            </div>
        </div>
    }
    // Om det är ett textfält
    else if (falt.Typ == FaltTyp.text_falt || falt.Typ == FaltTyp.epost_falt)
    {
        <div class="form-group">
            @Html.LabelFor(model => falt.Varde, falt.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => falt.Varde, new { htmlAttributes = new { @autofocus = "autofocus", @class = "form-control", @Name = falt.Namn } })
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#signMeUpForm').validate({ // initialize the plugin
            errorClass: "text-danger",
            rules: {
                @foreach(var falt in Model.FaltLista) {
                    @:'@falt.Namn': {required: @Json.Encode(falt.Kravs), email: @Json.Encode(falt.Typ == FaltTyp.epost_falt)},
                }
            }
        });

    });
</script>
