@using SignMeUp2.ViewModels
@using SignMeUp2.Data
@using LangResources;

@model RegistreringVM

@Html.HiddenFor(model => model.FormularId)
@Html.HiddenFor(model => model.Id)
@*@Html.HiddenFor(model => model.AttBetala)*@
@*@Html.HiddenFor(model => model.Forseningsavgift)*@
@Html.HiddenFor(model => model.PaysonToken)
@Html.HiddenFor(model => model.Rabattkod)
@*@Html.HiddenFor(model => model.Registreringstid)*@


<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.Registreringstid, "Registreringstid", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Registreringstid)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HarBetalt, "Har betalt", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HarBetalt)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Forseningsavgift, "Förseningsavgift", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Forseningsavgift)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AttBetala, "Att betala", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AttBetala)
        </div>
    </div>

    @foreach (FormularStegVM steg in Model.Formular.Steg)
    {
        <h2>@steg.Namn</h2>

                    foreach (var falt in steg.FaltLista)
                    {
                        var svar = Model.Svar.FirstOrDefault(s => s.FaltId == falt.FaltId);

                        svar = svar != null ? svar : new FaltSvarVM { Falt = falt, FaltId = falt.FaltId, RegistreringsId = Model.Id, Avgift = 0, Varde = "" };

                        // Om det ska vara en drop-down
                        if (falt.Typ == FaltTyp.val_falt)
                        {
                <div class="form-group">
                    @Html.LabelFor(model => svar.Varde, falt.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => svar.Varde, falt.Alternativ, Language.Choose + " " + falt.Namn, htmlAttributes: new { @class = "form-control", @Name = falt.FaltId })
                    </div>
                </div>
            }
            // Om det är ett textfält
            else if (falt.Typ == FaltTyp.text_falt || falt.Typ == FaltTyp.epost_falt)
            {
                <div class="form-group">
                    @Html.LabelFor(model => svar.Varde, falt.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => svar.Varde, new { htmlAttributes = new { @autofocus = "autofocus", @class = "form-control", @Name = falt.FaltId } })
                    </div>
                </div>
            }
        }
    }

    @*@if (Model.Invoice != null)
    {
        <tr>
            <th colspan="2"><h3>Fakturaadress</h3></th>
        </tr>
        <tr>
            <th colspan="2"><h3>Fakturaadress</h3></th>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => Model.Invoice.Namn)</th>
            <td>@Html.EditorFor(model => Model.Invoice.Namn)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => Model.Invoice.Organisationsnummer)</th>
            <td>@Html.EditorFor(model => Model.Invoice.Organisationsnummer)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => Model.Invoice.Postadress)</th>
            <td>@Html.EditorFor(model => Model.Invoice.Postadress)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => Model.Invoice.Postnummer)</th>
            <td>@Html.EditorFor(model => Model.Invoice.Postnummer)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => Model.Invoice.Postort)</th>
            <td>@Html.EditorFor(model => Model.Invoice.Postort)</td>
        </tr>
    }*@
    @*</table>*@
</div>
