@model SignMeUp2.ViewModels.FakturaadressVM

@{
    ViewBag.Title = "Fakturaadress";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Fakturaadress</h2>

@{Html.RenderPartial("_Message", null);}

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisationsnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisationsnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postadress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postadress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

    </dl>
</div>

<div class="row top-buffer">
    @*<div class="col-lg-2">
        @Html.ActionLink("Radera", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Är du säker på att du vill radera denna registrering?');" })
    </div>*@
    <div class="col-lg-2">
        @Html.ActionLink("Tillbaka", "Details", "Registreringar", new { id = Model.RegistreringsId }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
</div>
