@model IEnumerable<SignMeUp2.Data.Evenemang>

@{
    ViewBag.Title = "Admin - SignMeUp2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Välkommen till administrationssidan</h1>

<p>Här ser du listan över dina evenemang. Skapa ett nytt eller redigera ett befintligt.</p>

@{Html.RenderPartial("_Message", null);}

<div class="col-md-12">
    <h3>
        @Html.ActionLink("+", "Create", "Evenemang", new { id = ViewBag.Org.Id }, new { @class = "btn btn-sm btn-primary" })
        Evenemang
    </h3>
    <table class="table table-striped">
        <tr>
            @if (ViewBag.IsAdmin)
            {
                <th>
                    Arrangör
                </th>
            }
            <th>
                Evenemang
            </th>
            <th>
                Anmälan öppnar
            </th>
            <th>
                Anmälan stänger
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.IsAdmin)
                {
                    <td class="vert-align">
                        @Html.ActionLink(item.Organisation.Namn, "Edit", "Organisation", new { id = item.OrganisationsId }, new { @class = "btn btn-link" })
                    </td>
                }
                <td class="vert-align">
                    @Html.ActionLink(item.Namn, "Oversikt", "Evenemang", new { id = item.Id }, null)
                </td>
                <td class="vert-align">
                    @item.RegStart.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td class="vert-align">
                    @item.RegStop.ToString("yyyy-MM-dd HH:mm")
                </td>
            </tr>
        }

    </table>
</div>
