@model IEnumerable<SignMeUp2.Data.Evenemang>

@{
    ViewBag.Title = "Admin - SignMeUp2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Välkommen till administrationssidan för SignMeUp2</h2>

<p>Här kan du administrera dina evenemang och anmälningar mm.</p>

<p>
    @Html.ActionLink("Skapa nytt evenemang", "Create", "Evenemang", null, null)
</p>
<table class="table">
    <tr>
        @if (ViewBag.IsAdmin)
        {
        <th>
            Arrangör
        </th>
        }
        <th>
            Evenemang
        </th>
        <th>
            Anmälan öppnar
        </th>
        <th>
            Anmälan stänger
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.IsAdmin)
            {
            <td class="vert-align">
                @Html.ActionLink(item.Organisation.Namn, "Edit", "Organisation", new { id = item.OrganisationsId }, null)
            </td>
            }
            <td class="vert-align">
                @item.Namn
            </td>
            <td class="vert-align">
                @item.RegStart.ToString("yyyy-MM-dd HH:mm")
            </td>
            <td class="vert-align">
                @item.RegStop.ToString("yyyy-MM-dd HH:mm")
            </td>
            <td class="vert-align">
                @Html.ActionLink("Redigera", "Oversikt", "Evenemang", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Radera", "Delete", "Evenemang", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>