@model SignMeUp2.ViewModels.FakturaadressVM

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.Epost, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Epost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Epost, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Postnummer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Postnummer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Postnummer, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Organisationsnummer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Organisationsnummer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Organisationsnummer, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Postort, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Postort, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Postort, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Postadress, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Postadress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Postadress, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Namn, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Namn, "", new { @class = "text-danger" })
    </div>
</div>
