@using SignMeUp2.Data;
@using LangResources;

@{
    ViewBag.Title = Language.ConfirmationOfPayment;
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@model Registrering

<h2>@Language.ThankYou @ViewBag.ev</h2>
   
<h4>@Language.Organizer @ViewBag.org</h4>

@Html.DisplayFor(m => Model)