@using SignMeUp2.Data

@model SignMeUp2.ViewModels.FakturaVM

@{
    ViewBag.Title = "Faktura " + Model.Evenemangsnamn;
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="grid">
    <h2>Faktura för anmälan till @Model.Evenemangsnamn</h2>

    <p>Vi behöver din betalning senast ?.</p>

    @* Bild ? *@

    <h3>Om anmälan</h3>
    
    <p>Anmälan gjordes @Model.Registrering.Registreringstid.Value.ToString("yyyy-MM-dd HH:mm")</p>

    <h4>Deltagare</h4>

    @foreach (var deltagare in Model.Registrering.Deltagare)
    {
        <p>@deltagare.Förnamn @deltagare.Efternamn</p>
    }

    <div class="col-lg-12">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <th>Typ</th>
                    <th>Namn</th>
                    <th>Pris</th>
                </tr>
                @foreach (var post in Model.Betalnignsposter)
            {
                    <tr>
                        <td>@post.TypNamn</td>
                        <td>@post.Namn</td>
                        <td>@post.Avgift SEK</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-3 col-md-2"><h4>Att betala: @Model.AttBetala SEK</h4></div>
        <div class="col-lg-3 col-md-2">
            <p>Oss tillhanda: ?</p>
            <p>@Model.Arrangor.Betalningsmetoder.GiroTyp: @Model.Arrangor.Betalningsmetoder.Gironummer</p>
            <p>Mottagare: @Model.Arrangor.Namn</p>
            <p>Meddelande: @Model.Evenemangsnamn @Model.Registrering.Id</p>
        </div>
    </div>

    <h3>Arrangör</h3>

    <p>@Model.Arrangor.Namn</p>
    <p>@Model.Arrangor.Epost</p>
    <p>@Model.Arrangor.Adress</p>

    <h4>Internationella betalningar</h4>

</div>

