@using Microsoft.Web.Mvc
@using SignMeUp2.ViewModels;
@using LangResources

@model FormularStegVM

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>     
$(document).keypress(function (e) {
    if (e.keyCode == 13) {
        $("input[data='send']").focus().click();
        return false;
    }
});
</script>

@if (ViewBag.PaymentErrorMessage != null)
{
    <div class="row top-buffer">
        <div class="alert alert-danger col-md-5" role="alert">@Language.PaymentError @Language.ErrorMessage: <strong>@ViewBag.PaymentErrorMessage</strong><br />
        Parameter: <strong>@ViewBag.PaymentErrorParameter</strong></div>
    </div>
}

<span class="badge alert-info top-buffer">@Language.Step @(Model.StepIndex + 1) @Language.Of @Model.StepCount</span>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signMeUpForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.EditorFor(x => Model, null)

        <div class="row form-group">
            @if (Model.StepIndex == 0)
            {   
                <div class="col-md-6">
                    <input type="submit" value="@Language.Next" name="ok" data="send" class="btn btn-default pull-right">
                </div>
            }
            else
            {
                <div class="col-md-1">
                    <input type="submit" value="@Language.Previous" name="prev" class="btn btn-default cancel pull-left" />
                </div>

                <div class="col-md-5">
                    <input type="submit" value="@Language.Next" name="ok" data="send" class="btn btn-default pull-right" />
                </div>
            }
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
