@using Microsoft.Web.Mvc
@using SignMeUp2.Models;

@model SignMeUp2.Models.WizardViewModel

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    var currentStep = Model.Steps[Model.CurrentStepIndex];
}

<span class="badge alert-info">Steg @(Model.CurrentStepIndex + 1) av @Model.Steps.Count</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("StepType", Model.Steps[Model.CurrentStepIndex].GetType())

    <div class="form-horizontal">

        @Html.EditorFor(x => currentStep, null, "")

        <div class="row">
            <div class="form-group">
                @if (Model.CurrentStepIndex == 0)
                {
                    <div class="col-md-offset-3 col-md-2">
                        <input type="submit" value="Nästa" name="next" class="btn btn-default" />
                    </div>
                }
                else if (Model.CurrentStepIndex == (Model.CountSteps -1))
                {
                    <div class="col-md-1">
                        <input type="submit" value="Föregående" name="prev" class="btn btn-default cancel" />
                    </div>

                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Slutför" name="finish" class="btn btn-default" />
                    </div>
                }
                else
                {
                    <div class="col-md-1">
                        <input type="submit" value="Föregående" name="prev" class="btn btn-default cancel" />
                    </div>

                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Nästa" name="next" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
