@model IEnumerable<SignMeUp2.DataModel.Registreringar>

@{
    ViewBag.Title = "Startlista";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Startlista</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Banor.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenemang.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kanoter.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klasser.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lagnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klubb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarBetalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forseningsavgift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registreringstid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kommentar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rabatter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaysonToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Banor.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evenemang.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kanoter.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klasser.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lagnamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klubb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarBetalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forseningsavgift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registreringstid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kommentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rabatter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaysonToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice)
            </td>

        </tr>
    }

</table>
