@model SignMeUp2.Models.StartlistaViewModel

@{
    ViewBag.Title = "Startlista " + Model.Evenemang;
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Startlista - @Model.Evenemang</h2>

<p>@Model.AntalAnmälda anmälda lag</p>

@foreach (var bana in Model.BanLista)
{
    if (bana.AntalAnmälda < 1)
    {
        continue;
    }

    <h3>@bana.Namn (@bana.AntalAnmälda lag)</h3>

    foreach (var klass in bana.KlassLista)
    {
        if (klass.AntalAnmälda < 1)
        {
            continue;
        }

        <h4>@klass.Namn (@klass.AntalAnmälda lag)</h4>

        if (klass.RegistreringarList.Count() > 0)
        {
            <table class="table table-striped">
                <tr>
                    <th>
                        Lag
                    </th>
                    <th>
                        Medlemmar
                    </th>
                </tr>

                @foreach (var registrering in klass.RegistreringarList)
                {
                    <tr>
                        <td>@registrering.Lagnamn</td>
                        <td>
                            @foreach (var deltagare in registrering.DeltagarLista)
                            {
                                @deltagare.Namn <br />
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <br />
        }
    }
}

