@model SignMeUp2.Data.Rabatter

@{
    ViewBag.Title = "Ta bort";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Ta bort rabatt</h2>


<h3>Är du säker på att du vill ta bort denna?</h3>

@if (ViewBag.Error != null)
{
    <div class="row">
        <div class="alert alert-danger col-md-5" role="alert">
            @ViewBag.Error
        </div>
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Rabattkod
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kod)
        </dd>

        <dt>
            Summa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summa)
        </dd>

        <dt>
            Beskrivning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivning)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        Html.RenderPartial("_footerDelete");
    }
</div>
